{% embed 'partials/base.html.twig' %}

    {% block content %}
        <main class="content" role="main">
            <article class="room-preview sb" itemscope itemtype="http://schema.org/{% for type in page.taxonomy.type %}{% if type  == 'suite' %}Suite{% else %}HotelRoom{% endif %}{% endfor %}" role="article">
                <header class="row">
                    <h3 itemprop="name">{{ page.title }}</h3>
                    {% for type in page.taxonomy.type %}<span class="type">{{ type }}</span>
                        {% if not loop.last %}, {% endif %}{% endfor %}
                    <svg height="1em" id="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 89">
                        <defs>
                            <style>.cls-1 {
                                    fill: none;
                                    stroke: black;
                                    stroke-linecap: round;
                                    stroke-miterlimit: 10;
                                    stroke-width: 0.5em;
                                }
                            </style>
                        </defs>
                        <line class="cls-1" x1="4" y1="4" x2="85" y2="85"/>
                        <line class="cls-1" x1="85" y1="4" x2="4" y2="85"/>
                    </svg>
                </header>
                <section class="carousel" itemprop="image">
                    {% for image in page.media.images %}
                        {{ image.sizes('80vw').lightbox().html }}
                    {% endfor %}
                    <div style="padding: 0.01em"></div>
                </section>
                <section itemprop="description">
                    <ul class="capacity row">
                        <li><h4>Amenities</h4></li>
                        <li><h4>Capacity</h4></li>
                        <li><h4>Rules</h4></li>
                        <li><h4>+Services</h4></li>
                        <li class="slider"></li>
                    </ul>
                    <div>
                        <div class="iconGrid" id="amenities">
                            <p class="icon">{{ media['theme://images/rooms/kitchen.svg'] }}</p>
                            <p>Equipped Kitchen</p>
                            <p class="icon">{{ media['theme://images/rooms/towel.svg'] }}</p>
                            <p>Bed linen & towels</p>
                            <p class="icon">{{ media['theme://images/rooms/tv.svg'] }}</p>
                            <p>Satellite TV</p>
                            <p class="icon">{{ media['theme://images/rooms/bathtub.svg'] }}</p>
                            <p>Private bathroom with shower</p>
                            <p class="icon">{{ media['theme://images/rooms/wifi.svg'] }}</p>
                            <p>Free Wifi</p>
                            <p class="icon">{{ media['theme://images/rooms/hair-dryer.svg'] }}</p>
                            <p>Hairdryer</p>
                            <p class="icon">{{ media['theme://images/rooms/ski.svg'] }}</p>
                            <p>Skis and ski boots</p>
                            <p class="icon">{{ media['theme://images/rooms/bike.svg'] }}</p>
                            <p>MTB storage & pressure washer</p>
                            <p class="icon">{{ media['theme://images/rooms/taxi.svg'] }}</p>
                            <p>Transfer to & from Bardonecchia train station</p>
                            <p class="icon">{{ media['theme://images/rooms/washing.svg'] }}</p>
                            <p>Common Laundry room on request</p>
                        </div>
                        <div id="capacity">
                            <h3>
                                {% for capacity in page.taxonomy.capacity %}{{ capacity }}{% if not loop.last %}, {% endif %}{% endfor %}
                                people
                            </h3>
                            <div class="iconGrid">
                                <p class="icon">{{ media['theme://images/rooms/bed.svg'] }} double bed</p>
                                <h1>{{ page.header.beds.double }}</h1>
                                <p class="icon">{{ media['theme://images/rooms/bed-single.svg'] }} single bed</p>
                                <h1>{{ page.header.beds.single }}</h1>
                                <p class="icon">{{ media['theme://images/rooms/bed-bunk.svg'] }} bunk bed</p>
                                <h1>{{ page.header.beds.bunk }}</h1>
                                <p class="icon">{{ media['theme://images/rooms/bed-sofa.svg'] }} sofa</p>
                                <h1>{{ page.header.beds.sofa }}</h1>
                            </div>
                        </div>
                        <div class="iconGrid" id="rules">
                            <p class="icon">{{ media['theme://images/rooms/checkin.svg'] }}</p>
                            <p>Check-in from 16.00 to 20.00</p>
                            <p class="icon" style="transform: rotate(200deg)">{{ media['theme://images/rooms/checkin.svg'] }}</p>
                            <p>Check-out by 10:00 am</p>
                            <p class="icon">{{ media['theme://images/rooms/safe.svg'] }}</p>
                            <p>300€ deposit on arrival</p>
                        </div>
                        <div class="iconGrid" id="services">
                            <p class="icon">{{ media['theme://images/rooms/towel.svg'] }}</p>
                            <p>Extra bed-linen and towels</p>
                            <p class="icon">{{ media['theme://images/rooms/bike.svg'] }}</p>
                            <p>MTB rental</p>
                            <p class="icon">{{ media['theme://images/rooms/taxi.svg'] }}</p>
                            <p>Taxi Transfers</p>
                            <p class="icon">{{ media['theme://images/rooms/washing.svg'] }}</p>
                            <p>Local access for laundry use washing machine and dryer</p>
                            <p class="icon">{{ media['theme://images/rooms/cleaning.svg'] }}</p>
                            <p>Extra Cleaning</p>
                        </div>
                    </div>
                </section>
                <footer>
                    <a class="read-more" href="{{ page.url }}"><h3>look</h3></a>
                </footer>
            </article>
        </main>
    {% endblock %}
{% endembed %}
