<footer class="sp12">
    <div class="grid">
        <div class="rating">tripadvisor</div>
        <div class="booking">booking button</div>
        <div class="rating">booking
            <a href="http://www.booking.com/Share-GoEOPkz" target="_blank"
               rel="noreferrer">
                <img class="lozad" title="Booking.com" alt="Booking.com logo" data-src={{ media['theme://images/footer/booking.jpg'].url() }} />
{#                {{ media['theme://images/footer/booking.jpg'].html('Booking.com', 'Booking.com logo', 'lozad') }}#}
            </a>
        </div>
        <div class="partners">
            <a href="" target="_blank"
                                 rel="noreferrer">
                <img class="lozad" title="Bed and Bike" alt="Bed and Bike logo" data-src={{ media['theme://images/footer/bedebike.png'].url() }} />
                {#                {{ media['theme://images/footer/bedebike.png'].sizes('50vw').html('', '', 'lozad') }}#}</a>
        </div>
        <div class="partners">
            <a href="" target="_blank"
                                 rel="noreferrer">
                <img class="lozad" title="Tour du Thabor" alt="Tour du Thabor logo" data-src={{ media['theme://images/footer/thabor.jpg'].url() }} />
{#                {{ media['theme://images/footer/thabor.jpg'].sizes('50vw').html('Tour du Thabor', 'Tour du Thabor logo', 'lozad') }}#}
            </a>
        </div>
        <div class="partners">
            <a href="" target="_blank"
                                 rel="noreferrer">
                <img class="lozad" title="Alpi Bike Resort" alt="Alpi Bike Resort logo" data-src={{ media['theme://images/footer/alpiBike.jpg'].url() }} />
{#                {{ media['theme://images/footer/alpiBike.jpg'].sizes('50vw').html('Alpi Bike Resort', 'Alpi Bike Resort logo', 'lozad') }}#}
            </a>
        </div>
        <div class="partners">
            <a href="https://www.vacanzebardonecchia.it/" target="_blank"
                                 rel="noreferrer">
                <img class="lozad" title="Consorzio Turismo" alt="Consorzio Turismo logo" data-src={{ media['theme://images/footer/consorzioBardo.png'].url() }} />
{#                {{ media['theme://images/footer/consorzioBardo.png'].sizes('50vw').html('Consorzio Turismo', 'Consorzio Turismo logo', 'lozad') }}#}
            </a>
        </div>
        <div class="partners">
            <a href="https://www.vallesusa-tesori.it/" target="_blank"
                                 rel="noreferrer">
                <img class="lozad" title="Valle Di Susa" alt="Valle Di Susa logo" data-src={{ media['theme://images/footer/valleSusa.jpg'].url() }} />
{#                {{ media['theme://images/footer/valleSusa.jpg'].sizes('50vw').html('Valle Di Susa', 'Valle Di Susa logo', 'lozad') }}#}
            </a>
        </div>

        <div class="partners">
            <a href="https://www.montagnaestate.it/" target="_blank"
                                 rel="noreferrer">
                <img class="lozad" title="Montagna Estate" alt="Montagna Estate logo" data-src={{ media['theme://images/footer/montagnaEstate.png'].url() }} />
{#                {{ media['theme://images/footer/montagnaEstate.png'].sizes('50vw').html('Montagna Estate', 'Montagna Estate logo', 'lozad') }}#}
            </a>
        </div>
        <div class="partners">
            <a href="https://www.turismotorino.org/" target="_blank"
                                 rel="noreferrer">
                <img class="lozad" title="Torino" alt="Torino Logo" data-src={{ media['theme://images/footer/torinoE.jpg'].url() }} />
{#                {{ media['theme://images/footer/torinoE.jpg'].sizes('50vw').html('Torino', 'Torino Logo', 'lozad') }}#}
            </a>
        </div>
        <div class="partners">
            <a href="http://www.guidealpinevalsusa.com/wordpress/" target="_blank"
                                 rel="noreferrer">
                <img class="lozad" title="Guide Alpine Valsusa" alt="Guide Alpine Valsusa logo" data-src={{ media['theme://images/footer/guideAlpine.png'].url() }} />
{#                {{ media['theme://images/footer/guideAlpine.png'].sizes('50vw').html('Guide Alpine Valsusa', 'Guide Alpine Valsusa logo', 'lozad') }}#}
            </a>
        </div>
        <div class="partners">
            <a href="https://www.bardonecchia.it/" target="_blank"
                                 rel="noreferrer">
                <img class="lozad" title="Bardonecchia" alt="Bardonecchia logo" data-src={{ media['theme://images/footer/bardonecchia.png'].url() }} />
{#                {{ media['theme://images/footer/bardonecchia.png'].sizes('50vw').html('Bardonecchia', 'Bardonecchia logo', 'lozad') }}#}
            </a>
        </div>
        <div class="sp12">{{ 'SITE.COPYRIGHT'|t("now"|date('Y')) }}</div>
    </div>
</footer>
