<footer class="sp12">
        <div class="grid">
                <a href="" target="_blank"
                   rel="noreferrer">
                        {{ media['theme://images/footer/bedebike.png'].sizes('25vw').html('Bed and Bike', 'Bed and Bike', 'lozad') }}
                </a>
                <a href="" target="_blank"
                   rel="noreferrer">
                        {{ media['theme://images/footer/thabor.jpg'].sizes('25vw').html('Tour du Thabor', 'Tour du Thabor logo', 'lozad') }}
                </a>
                <a href="" target="_blank"
                   rel="noreferrer">
                        {{ media['theme://images/footer/alpiBike.jpg'].sizes('25vw').html('Alpi Bike Resort', 'Alpi Bike Resort logo', 'lozad') }}
                </a>
                <a href="https://www.vacanzebardonecchia.it/" target="_blank"
                   rel="noreferrer">
                        {{ media['theme://images/footer/consorzioBardo.png'].sizes('25vw').html('Consorzio Turismo', 'Consorzio Turismo logo', 'lozad') }}
                </a>
                <a href="https://www.vallesusa-tesori.it/" target="_blank"
                   rel="noreferrer">
                        {{ media['theme://images/footer/valleSusa.jpg'].sizes('25vw').html('Valle Di Susa', 'Valle Di Susa logo', 'lozad') }}
                </a>

                <a href="https://www.montagnaestate.it/" target="_blank"
                   rel="noreferrer">
                        {{ media['theme://images/footer/montagnaEstate.png'].sizes('25vw').html('Montagna Estate', 'Montagna Estate logo', 'lozad') }}
                </a>
                <a href="https://www.turismotorino.org/" target="_blank"
                   rel="noreferrer">
                        {{ media['theme://images/footer/torinoE.jpg'].sizes('25vw').html('Torino', 'Torino Logo', 'lozad') }}
                </a>
                <a href="http://www.guidealpinevalsusa.com/wordpress/" target="_blank"
                   rel="noreferrer">
                        {{ media['theme://images/footer/guideAlpine.png'].sizes('25vw').html('Guide Alpine Valsusa', 'Guide Alpine Valsusa logo', 'lozad') }}
                </a>
                <a href="https://www.bardonecchia.it/" target="_blank"
                   rel="noreferrer">
                        {{ media['theme://images/footer/bardonecchia.png'].sizes('25vw').html('Bardonecchia', 'Bardonecchia logo', 'lozad') }}
                </a>
                <div class="sp12">{{ 'SITE.COPYRIGHT'|t("now"|date('Y')) }}</div>
        </div>
</footer>
