<div class="logo">
    <a href="{{ base_url }}" rel="home"><i>Your Logo</i></a>
</div>
<nav class="menu">
    {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'class="current"' : '' %}
        <a {{ current_page }} href="{{ page.url }}">{{ page.menu }}</a>
    {% endfor %}
    <a href="https://secure.kosmosol.it/booking/v2/check-availability.php?h=chaletdellaguida-bardonecchia&l={{ html_lang }}"
       target="_blank" rel="noreferrer">Booking ⤴</a>
    <a href="https://github.com/artdiev/grav-mountain-scenery-skeleton"
       target="_blank" rel="noreferrer">GitHub ⤴</a>
</nav>
{% include 'partials/langswitcher.html.twig' %}

