{% embed 'partials/base.html.twig' %}

{% block body %}
<body class="post-template nav-closed" itemscope itemtype="http://schema.org/Article">
{% endblock %}

{% block content %}

    <main class="content" role="main">
        <article class="post">
            <header class="post-header">
                {% include 'partials/breadcrumbs.html.twig' %}
                <h1 class="post-title">{{page.title}}</h1>
                <section class="post-meta">
                    <time class="post-date" datetime="{{ page.date | date(site.date_short) }}">{{ page.date | date(site.date_short) }}</time>
                    {% if page.taxonomy.tag|length > 0 %}
                        on {% for tag in page.taxonomy.tag %}<span class="post-tag-{{tag}}"><a href="{{ base_url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a></span>{%if not loop.last %}, {% endif %}{% endfor %}
                    {% endif %}
                </section>
            </header>

            <section class="post-content">
                {{content}}
            </section>

        </article>
    </main>


{% endblock %}

{% endembed %}
